<div class="contactform container-fluid">
    <div class="row justify-content-center">
        <h1 class="col-sm-12">CONTACT US</h1>
    </div>
    <form class="row justify-content-center">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-8">
            <label for="formGroupExampleInput" class="labelForm">Your name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-8">
            <label for="exampleFormControlInput1" class="labelForm">How can we contact you ?</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-8">
            <label for="exampleFormControlTextarea1" class="labelForm">Leave your message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
        </div>
        <div class="submitContact col-sm-12 col-md-12 col-lg-12 col-xl-8">
            <button type="button" class="btn col-sm-12 col-md-12 col-lg-12 col-xl-3" onclick="alert('Congratulations ! Your message has been sent successfully. We will answer you as soon as possible !')">Submit</button>
        </div>
    </form>
</div>
