
<div class="container-fluid" >
	<div id="planetTitle" class="row">
		<h1 class="col-lg-12 m-0">{{img.title}}</h1>
		<h3 class="col-lg-12 m-0"><span class="bubbleInfo" title="Scientist planet name">{{current.pl_name}}</span></h3>
	</div>
</div>

<div id="planet" class="container-fluid">
	<div id="planetImg" class="row justify-content-center align-items-center">
		<div class="col-lg-4 hiddenText">
			<div class="pulse d-flex"><a>?</a></div>
			<p>An exoplanet or extrasolar planet is a planet outside the Sun's solar system. The first evidence of an exoplanet was noted as early as 1917, but was not recognized as such. However, the first scientific detection of an exoplanet was in 1988, although it was not confirmed to be an exoplanet until later in 2012. The first confirmed detection occurred in 1992. As of 1 October 2018, there are 3,851 confirmed planets in 2,871 systems, with 636 systems having more than one planet.</p>
		</div>
		<img class="img-fluid" src="{{img.url}}" alt="Rocky planet">
		<div class="col-lg-4 hiddenText"></div>
	</div>
	<div class="row returnLink">
		<a routerLink="" class="p-0"><img src="/assets/images/arrow-back.png" alt="Back round arrow"></a>
	</div>
</div>
