<form class="container-fluid">
	<div class="row justify-content-center form-group">
		<label for="exampleFormControlInput1" class="labelForm col-xl-8 p-0">Want your inner's planet's news ? Just fill the field and click below&nbsp;!</label>
		<input type="email" class="form-control col-xl-5 m-0" id="exampleFormControlInput1" placeholder="name@example.com">
		<div class="col-xl-1 p-0"></div>
		<button type="button" class="btn col-sm-12 col-md-12 col-lg-12 col-xl-2" onclick="alert('Great ! We be able to send you some news of your Inner Planet !')">Subscribe</button>
	</div>
</form>
