
.container-fluid {
    height: 100vh;
    background-image: url(/assets/horizon);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #0b0432;
    color: white;
}

.row {
    height: 100vh;
}
