<div class="dataBox">
    <h2 class="mt-3">PLANET</h2>
    <ul class="mt-3">
        <li>Mass : {{current.pl_masse}} Earth</li>
        <li>Radius : {{current.pl_rade}} km</li>
        <li>Orbital period : {{current.pl_orbper}} days</li>
        <li>Surface temp : {{current.pl_eqt}}°C</li>
        <li>System planets number : {{current.pl_pnum}}</li>
        <li>Star distance : {{current.pl_orbsmax}} <span class="bubbleInfo" title="An Astronomical Unit (au) is the average distance between Earth and the Sun, witch is nearly 150 million km">au</span></li>
    </ul>
</div>